body {
    background-color: white;
    display: flex;
}

.score {
    margin: 2rem;
    background-color: #a3b18a;
    height: 30%;
    padding: 1rem;
    width: 20%;
}

#gameOverlay {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    width: 800px;
    height: 800px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.gameMessage {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: yellow;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 1rem;
    padding: 20px;
    border-radius: 5px;
}

#restartButton {
    background-color: #030001;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 0.5rem;
}

#restartButton:hover{
    background-color: #ffffff;
    border: 1px solid #030001;
    color: #030001;
}
